@font-face {
    font-family: 'Font-titlle';
    src: url(../fonts/YoungSerif-Regular.ttf);
}

@font-face {
    font-family: 'Font-t2';
    src: url(../fonts/Outfit-VariableFont_wght.ttf);
}

* {
    box-sizing: border-box;
    margin: 0px;
}

body {
    background-color: hsl(30, 54%, 90%);
}

.main {
    background-color: hsl(0, 0%, 100%);
    display: flex;
    justify-content: center;
    height: 2000px;
    margin: 85px 260px 65px 260px;
    padding: 20px;
    border-radius: 20px;
    padding: 15px;
}

.image img {
    display: flex;
    align-items: start;
    justify-content: start;
    margin: 10px 0px 10px 08px;
    border: 1px solid hsl(0, 0%, 100%);
    border-radius: 20px;
}

h1 {
    color: hsl(24, 5%, 18%);
    margin: 10px 0px 0px 20px;
    font-family: 'Font-titlle';
    font-size: 45px;
    font-weight: 400;
}

.instructions {
    color: hsl(30, 10%, 34%);
    margin: 5px 05px 0px 05px;
    font-family: 'Font-t2';
}

p {
    color: hsl(30, 10%, 34%);
    margin: 5px 10px 0px 24px;
    font-size: 16px;
    font-family: 'Font-t2'

}

.ul1 {
    font-size: 16px;
    background-color: hsl(330, 100%, 98%);
    margin: 25px 0px 35px 0px;
    padding: 20px;
    border: 1px solid hsl(330, 100%, 98%);
    border-radius: 20px;
}

.ul1 li {
    margin: 10px 0px 20px -15px;
}

#ul1tt {
    color: hsl(332, 51%, 32%);
    margin-left: 05px;
}

.ul2 li {
    margin-top: 5px;
    margin-bottom: 5px;
}

#ul2tt {
    margin-top: 50px;
    margin-left: 25px;
    color: hsl(14, 45%, 36%);
    font-size: 25px;
    font-weight: 400;
    font-family: 'Font-titlle';
}

#ul2it {
    color: hsl(30, 10%, 34%);
    font-size: 16px;
    margin-left: 05px;
    margin-top: 10px;
}

.ul2 li {
    margin-top: 5px;
    margin-bottom: 20px;
}

hr {
    margin: 40px 1px 40px 15px;
}

#ol1tt {
    margin-left: 25px;
    margin-bottom: 25px;
    color: hsl(14, 45%, 36%);
    font-size: 25px;
    font-weight: 400;
    font-family: 'Font-titlle';
}

.ol1li li {
    margin: 07px 25px 22px 04px;
    font-size: 16px;
}

#tbtt {
    margin-left: 25px;
    margin-bottom: 25px;
    color: hsl(14, 45%, 36%);
    font-size: 25px;
    font-weight: 400;
    font-family: 'Font-titlle';
}

.data {
    font-weight: 700;
    color: hsl(14, 45%, 36%);
}

.hd {
    font-weight: 400;
}

table {
    width: 100%;
    table-layout: fixed;
    text-align: center;
    border-collapse: collapse;
    margin-top: 25px;
}

table td {
    border-bottom: 1px solid hsl(32, 9%, 58%);
    padding: 5px;
    margin: 17px 0px 17px 0px;
}

.attribution {
    display: flex;
    justify-content: center;
    margin: 15px 15px 15px 15px;
}

.attr {
    display: flex;
    justify-content: center;
    margin: 15px 15px 45px 15px;
}

.My {
    color: blue;
}